[submodule "extern/emp-tool"]
	path = extern/emp-tool
  url = https://github.com/emp-toolkit/emp-tool
[submodule "extern/transputation"]
	path = extern/transputation
  url = https://github.com/james-choncholas/transputation
